@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playfair+Display:wght@400;700&display=swap');

h1, h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 2.5rem;
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #faf8f1;

}

.logo {
    max-width: 50%;
    width: 20%;
    border-radius: 50%;
}

@media (max-width: 768px) { /* Ajusta para telas menores, como celulares */
    .logo {
        width: 80%;
        max-width: 80%;
    }
}


#lista ,tr ,th ,td , .modal-content{
    background-color: #faf8f1 !important;
}

.btn-confirmar {
    background-color: #D6CFC3; /* Tom suave que combina com #FAF8F1 */
    color: #333; /* Texto escuro para contraste */
    border: 2px solid #C8BBAF; /* Borda levemente mais escura */
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* Efeito hover */
.btn-confirmar:hover {
    background-color: #C8BBAF; /* Tom um pouco mais escuro no hover */
    border-color: #B5A89A;
    color: #222;
}

/* Efeito ao clicar */
.btn-confirmar:active {
    background-color: #B5A89A; /* Mais escuro no clique */
    border-color: #9E9287;
}


.divisor {
    width: 80%;
    margin: 2rem auto;
    text-align: center;
    position: relative;
}

.divisor::before, .divisor::after {
    content: "";
    display: block;
    width: 40%;
    height: 2px;
    background-color: #444;
    position: absolute;
    top: 50%;
}

.divisor::before {
    left: 0;
}

.divisor::after {
    right: 0;
}

.divisor span {
    font-family: 'Great Vibes', cursive;
    font-size: 1.5rem;
    color: #444;
    padding: 0 1rem;
   
}

.nav-link {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Estilo padrão para links ativos */
.nav-link.active {
    background-color: #333;
    color: #faf8f1;
}

/* Ajuste para telas menores (removendo bordas e adicionando linha embaixo) */
@media (max-width: 768px) {
    .nav-link {
        border-radius: 0; /* Remove arredondamento */
        padding: 10px 0; /* Ajusta o espaçamento */
        display: block;
        text-align: center;
        border-bottom: 2px solid transparent; /* Prepara a linha */
    }

    .nav-link.active {
        background-color: transparent; /* Remove o fundo */
        color: #333;
        border-bottom: 2px solid #333; /* Adiciona a linha abaixo */
    }
}

